.home-container {
    padding: 24px 16px;
    font-size: 22px;

}

.home-container h1 {
    font-size: 1.2em;
    letter-spacing: 0.02em;
}

.home-container h4 {
    font-size: 0.6em;
    color: #7E7E7E;
    letter-spacing: 0.02em;
    margin: 0 0 35px 0;
}

@media (min-width: 576px) {
    .home-container {
        padding: 24px 32px;
    }

    .home-container h1 {
        font-size: 1.6em;
    }
    
    .home-container h4 {
        font-size: 0.8em;
    }
}

@media (min-width: 768px) {
    .home-container {
        padding: 30px 40px;
    }
    
    .home-container h1 {
        font-size: 2em;
    }
    .home-container h4 {
        font-size: 1em;
    }
}