.home-container {
    padding: 30px 0 0 40px;
    font-size: 22px;

}

.home-container h1 {
    font-size: 2em;
    letter-spacing: 0.02em;
}
.home-container h4 {
    font-size: 1em;
    color: #7E7E7E;
    letter-spacing: 0.02em;
    margin: 0 0 35px 0;
}