.main-nav {
    min-height: 70px;  
}

.main-nav-container {
    padding: 0 16px;
}

.nav-text,.nav-text:hover {
    color: #ffffff;
}

@media (min-width: 576px) {
    .main-nav-container {
        padding: 0 32px;
    }
}